@page "/"

@using ReZeLos.Data
@inject CharacterService CharacterService
@using DevExpress.Blazor

@if (characters == null)
{
    <p><em>Loading...</em></p>
}
else
{
<DxDataGrid Data="@characters"
            CssClass="mw-1100"
            ShowPager=false
            PageSize=999>
    <DxDataGridColumn Field="@nameof(Character.Version)" />
    <DxDataGridColumn Field="@nameof(Character.Name)" />
    <DxDataGridColumn Field="@nameof(Character.Color)" />
    <DxDataGridColumn Field="@nameof(Character.Tier)" />
    <DxDataGridColumn Field="@nameof(Character.ArenaTier)" Caption="Arena" />
    <DxDataGridColumn Field="@nameof(Character.LeaderRating)" Caption="Leader" />
    <DxDataGridColumn Field="@nameof(Character.MemberRating)" Caption="Member" />
    <DxDataGridColumn Field="@nameof(Character.HP)" />
    <DxDataGridColumn Field="@nameof(Character.Attack)" />
    <DxDataGridColumn Field="@nameof(Character.Defense)" />
    <DxDataGridColumn Field="@nameof(Character.Speed)" />
</DxDataGrid>
}

@code {
    private List<Character> characters;

    protected override async Task OnInitializedAsync()
    {
        characters = CharacterService.GetCharacters();
    }
}
